<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>fasdfdasfdasf</title>
	<style type="text/css" media="screen">
		*{
			margin:0;
			padding:0;
		}
		html,body{
			font-size: 100px;
			background: #eee;
		}
		.boss{
			width: 100;
			font-size: 0.2rem;
		}
		.bg_head{
			height:0.58rem;
			line-height:0.58rem;
			background:#90B0AE;
		}
		.bg_content{
			height:500px;
			width: 100%;
			background:;
		}
		.bg_content_left{
			float: left;
			width: 8%;
			background: #343D46;
		}
		.bg_content_right{
			float: left
		}
	</style>
</head>
<body>
	<div class="boss">
		<div class="bg_head">后台管理</div>
		<div class="bg_content">
			<div class="bg_content_left">bg_content_left</div>
			<div class="bg_content_right">bg_content_right</div>
		</div>
	</div>
</body>
</html>
